<!DOCTYPE html>
<html lang="pt">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/event.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="icon" href="/images/imagem.ico">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <title>Remover Evento</title>
</head>

<body>
  <div class="container">
    <div class="log-form">
      <h2 class="t_add">REMOVER EVENTO</h2>
      <%# include("./partials/warning") --%>
      <form class="form1" action="/event/deletes" method="POST">
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Local </label>
          <div class="col-sm-10">
            <select id="local" name="local" class="form-control">
              <% for(var i=0; i < events.length; i++) { %>
              <option value="<%- events[i]._id %>"> <%- events[i].name %></option>
              <% } %>
            </select>
          </div>
        </div>

        <button id="submit" type="submit" class="button_add">Eliminar</button>
      </form>
      <a href="/pagina_inicial" class="btn btn-back">
        <span class="glyphicon glyphicon-arrow-left"></span> Voltar
      </a>
    </div>
  </div>
</body>

</html>
