body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333;
    margin: 20px 0;
}

#filter-form {
    margin-bottom: 20px;
}

#list-table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 80%;
}

#list-table th {
    background-color: #ccc;
    text-align: left;
    padding: 10px;
    border: 1px solid #ddd;
}

#list-table td {
    padding: 10px;
    border: 1px solid #ddd;
}

#list-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

#list-table #btns {
    background-color: white;
    border: none;
    padding: 0 auto;
}

#list-table tbody #status-cell {
    display: flex;
    align-items: center;
    justify-content: center;
}